
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6a9a9;
}

.calculate{
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1); 
}


h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
}

input{
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    padding: 10px;
    background-color: #5288eb;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(127, 160, 94);
}

.results{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.results p{
    margin-bottom: 15px;

}
.results span{
    font-weight: bold;
}