
body{
    background-color: #D7BE69;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.expense-tracker{
    max-width: 500px;
    margin: 0 auto;
    padding:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: beige;
}

.expense-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-expense-btn{
    padding: 8px 30px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    font-size:16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.add-expense-btn:hover{
    background-color: blueviolet;
}

.total-expense{
    text-align: right;

}

.expense-list{
    margin-bottom: 20px;
}

.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.expense-item-description{
    font-weight: bold;
}

.expense-item-amount{
    font-weight: bold;
}

.delete-expense-btn{
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}