

body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1{
    margin-top: 0;
    text-align: center;
    color:#555;
}

input[type="text"]{
    padding:8px;
    font-size: 16px ;
    border: 1px solid #f2f2f2;
    border-radius: 1px solid #ccc;
    width: 80%;
    margin-top: 10px;
}
button{
    padding: 8px 20px;
    background-color: #af622f;
    color: none;
    cursor: pointer;
    color:#ccc;
    border-radius: 5px;
}

button:hover{
    background-color: #3b5fd3;
}

ul{
    list-style:none;
    padding: 0;
    margin-top: 20px;
}

li{
    padding: 10px;
    background-color: #eee;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child{
    margin-bottom: 0px;
}

.delete-todo-btn{
    background-color: rgb(173, 103, 103);
    color: white;
    border: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-todo-btn{
    background-color: #d32f2f;
}