body{
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    background-color: rgb(211, 226, 145);
}

.age-calculator{
    width: 800px;
    margin:0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px rgb(0,0,0, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size:34px;
    margin-top: 20px
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
}

input[type="date"]{
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 400px;
    margin-bottom: 20px;
}

button{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #5eb37a;
    color: #fff;
    transition: background-color 0.3s ease;
}


button:hover{
    background-color: #0fda53;
}


#result{
    margin-top:20px;
    font-size:18px;
}