body{
    background-color: #5da249;
    font-family: Arial, sans-serif;
}

.container{
    max-width:600px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

h1{
    text-align: center;
    margin: 2px;
}

label{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#password{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius:5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#generate{
    margin-top:20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size:16px;
    cursor: pointer;
}

#generate:hover{
    background-color: #3e8e41;
}